{% extends "layout.html" %}

{% block content %}

<div class="container mt-3">
    <h1>Login</h1>

    <div class="row">
        <!-- User Login Section -->
        <div class="col-md-6">
            <h2>User Login</h2>
            <form action="{{ url_for('user_login') }}" method="post">
                <div class="form-group">
                    <label for="userEmail">Email:</label>
                    <input type="email" class="form-control" id="userEmail" name="userEmail" required>
                </div>
                <div class="form-group">
                    <label for="userPassword">Password:</label>
                    <input type="password" class="form-control" id="userPassword" name="userPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

        <!-- Trainer Login Section -->
        <div class="col-md-6">
            <h2>Trainer Login</h2>
            <form action="{{ url_for('trainer_login') }}" method="post">
                <div class="form-group">
                    <label for="trainerEmail">Email:</label>
                    <input type="email" class="form-control" id="trainerEmail" name="trainerEmail" required>
                </div>
                <div class="form-group">
                    <label for="trainerPassword">Password:</label>
                    <input type="password" class="form-control" id="trainerPassword" name="trainerPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
